doctype html
head
  meta(charset='UTF-8')
  title
h1 Sign Up
form(action='', method='POST')
  label(for='username') Username
  input(name='username', placeholder='username', type='text')
  label(for='password') Password
  input(name='password', type='password')
  button Sign Up
